.container {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 100px;
  margin: 10px 0;
  figure {
    img {
      border-radius: 10px 0 0 10px;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: calc(100% - 130px);
    & > * {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    h1 {
      font-size: medium;
      font-weight: bold;
    }
    span {
      font-size: medium;
      font-weight: 300;
    }
    span:nth-child(4) {
      font-size: small;
    }
  }
  &::-webkit-scrollbar {
    left: 100px;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    & > * {
      font-size: 24px;
      cursor: alias;
    }
    .spotify {
      color: #1dd05d;
    }
    .youtube {
      color: red;
    }
    .deezer {
      color: rgb(1, 84, 179);
    }
    .missing {
      filter: grayscale(100%) opacity(0.5);
    }
  }
}
