@import '../../../styles/utils';

.container {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 100px;
  margin: 10px 0;
  width: 100%;
  figure {
    img {
      border-radius: 10px 0 0 10px;
    }
    width: 100px;
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: calc(100% - #{100px + 35px});
    margin-right: auto;
    & > * {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    h1 {
      font-size: medium;
      font-weight: bold;
    }
    span {
      font-size: medium;
      font-weight: 300;
    }
    span:nth-child(4) {
      font-size: small;
    }
  }
  &::-webkit-scrollbar {
    left: 100px;
  }

  .services {
    margin-right: 5px;
  }

  .know {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #000;
    filter: drop-shadow(0 0 5px #fff);

    & > * {
      height: 20px;
      width: 20px;
    }
  }
}
