.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 50px);

  button {
    margin: 20px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: large;
    &:hover {
      background-color: #ccc;
    }
  }
  ul {
    position: relative;

    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    li {
      min-width: 300px;
      max-width: 600px;
      margin: 0 auto;
    }
  }
}

.main {
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
